<section class="add-reglas-sec">
  <h2>Crear</h2>
  <h6>PTR_Reglas</h6>
  <div class="text-success"><hr /></div>
  <div class="row justify-content-center">
    <form class="row g-3">
      <div class="col-md-3">
        <label for="validationTooltip03" class="form-label">Descripcion</label>
        <input
          type="text"
          class="form-control"
          id="validationTooltip03"
          required
        />
        <div class="invalid-tooltip">Please provide a description.</div>

        <label for="validationTooltip03" class="form-label"
          >Fecha de Creacion</label
        >
        <input
          type="date"
          class="form-control"
          id="validationTooltip03"
          required
        />
        <div class="invalid-tooltip">Please provide a creation date.</div>

        <label for="validationTooltip03" class="form-label">Persona</label>
        <input
          type="text"
          class="form-control"
          id="validationTooltip03"
          required
        />
        <div class="invalid-tooltip">Please provide a person.</div>
      </div>

      <div class="col-12">
        <button type="button" class="btn btn-primary">Create</button>
      </div>
      <a routerLink="../">Back to List</a>
    </form>
  </div>

  <div class="text-success"><hr /></div>
  <a><small class="text-muted">@2022</small></a>
</section>
