<app-mainPage title="PTR Acciones" LinkAddNew="add-accion"></app-mainPage>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">N° Accion</th>
          <th scope="col">Tarea</th>
          <th scope="col">Accion</th>
          <th scope="col">Orden</th>
          <th scope="col">Valor</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>Mark</td>
          <td>
              <a routerLink="edit-accion"><button type="button" class="btn btn-primary">Editar</button></a>
              <a routerLink="detail-accion"><button type="button" class="btn btn-primary">Detalle</button></a>
              <button type="button" class="btn btn-primary">Eliminar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>Jacob</td>
          <td>
            <a routerLink="edit-accion"><button type="button" class="btn btn-primary">Editar</button></a>
            <button type="button" class="btn btn-primary">Detalle</button>
            <button type="button" class="btn btn-primary">Eliminar</button>
          </td>
        </tr>
    </tbody>
</table>

<div><hr></div>
<div class="text-center">
    <button type="button" class="btn btn-primary btn-sm">1</button>
</div>
