<section class="add-tareasReglas-sec">
  <h2>Create</h2>
  <h6>ptr_tareas-reglas</h6>
  <hr />
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-3">
      <label for="validationCustom01" class="form-label">Tarea</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">Looks good!</div>

      <div class="col-md-12">
        <label for="validationCustom04" class="form-label">Regla</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>

      <div class="col-md-12">
        <label for="validationCustom04" class="form-label">Orden</label>
        <select class="form-select" id="validationCustom04" required>
          <option selected disabled value="">Choose...</option>
          <option>...</option>
        </select>
        <div class="invalid-feedback">Please select a valid state.</div>
      </div>

      <label for="validationCustom01" class="form-label">Valor</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
  <a routerLink="../">Back to List</a>
  <hr />
  <p><small class="text-muted">@2022</small></p>
</section>
