<section class="prosesos-tareas">
  <app-mainPage
    title="PTR Procesos Tareas"
    LinkAddNew="add-procesos-tareas"
  ></app-mainPage>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">N° Tarea Regla</th>
        <th scope="col">Tarea</th>
        <th scope="col">Regla</th>
        <th scope="col">Orden</th>
        <th scope="col">Valor</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>
          <a routerLink="edit-procesos-tareas"
            ><button type="button" class="btn btn-success">Editar</button></a
          >
          <a routerLink="detail-procesos-tareas"
            ><button type="button" class="btn btn-warning">Detalle</button></a
          >
          <button type="button" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button type="button" class="btn btn-primary btn-sm">1</button>
  </div>
  <div><hr /></div>

  <p><small class="text-muted">@2022</small></p>
</section>
