<section class="add-tipo-datos">
  <h2>Create</h2>
  <h6>ptr_tipo_de_datos</h6>
  <hr />
  <form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Create</button>
    </div>
  </form>
  <a routerLink="../">Back to List</a>
  <hr />
  <p><small class="text-muted">@2022</small></p>
</section>
